@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
  --primary-color: #00b7ff;
  --hover-button: #0586d1;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-size: 10px;
  list-style: none;
}

*, input, button {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('images/bg.png');
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5%;
}

label {
  font-size: 2.4rem;
  margin-right: 8px;
}

button, input {
  font-size: 2rem;
  padding: 0.5em 1em;
}

input {
  width: 30%;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  transition: background-color 0.5s ease;
}

button:hover{
  background-color: var(--hover-button);
}

button:active{
  transform: translateY(2px);
}

#user-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
}

#user-infos img {
  width: 15%;
  border: 8px solid var(--primary-color);
  border-radius: 50%;
}

#user-infos p {
  font-size: 1.6rem;
  margin-top: 1rem;
}

#repo_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#repo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  margin: 2em;
  background-color: #fff;
  width: 350px;
  height: 150px;
  border-radius: 0.5em;
}

#repo p, #repo a {
  color: #333;
  font-size: 1.6rem;
}

#repo a {
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 0.5em;
  width: max-content;
  border-radius: 0.5em;
  color: #fff;
}
